*{
    box-sizing: border-box;
}

.mySlides {
    display: none;
}
div.carousel.slide{
  width: 100%;
  height: 40vh;  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.carousel-item {
  width: 100%;
  height: 40vh;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*User Avatar*/
div.carousel-caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
}
div.carousel-caption .carousel-user-img{
  width: 10%;
  border-radius: 50px;
}

div.container.marketing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.row div.col-lg-3{
  padding: 2rem;
}

div.tools{
  width: 100%;
  height: 30vh;  
  padding: 0 20px;
}

div.tools .tools-container{
    background-color: rgb(241, 247, 248);
    width: 100%;
    height: 100%;
    box-shadow: 4px solid rgb(19, 20, 20);
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
div.tools .tools-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.tools .tools-container > div a{
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
}
div.tools .tools-container > div a:hover{
    background-color: rgba(0, 80, 253, 0.4);
}

div.tools .tools-container > div img{
    width: 80px;
    height: 80px;
}
h4{
  margin-bottom: 0rem;
  color: black;
  font-size: 0rem;
  font-weight: 0;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}