<section class="side-bar">
    <ul class="side-bar-menu">
        <li class="li-menu" id="menu"><a id="index" href="/"><i class="icon-menu"></i> Men&uacute;</a></li>                
        <li class="li-menu"  onclick="myFunction()"><a><i class="icon-key"></i> Accesos</a>     
            <nav id="myDIV">
                <ul class="side-bar-menu-access">
                    <li><a href="#">Wifi</a></li>
                    <li><a href="#">Navegaci&oacuten</a></li>
                    <li><a href="#">VPN</a></li>           
                </ul>
            </nav>
        </li>    
        <li class="li-menu"><a href="/dashboard"><i class="icon-stumbleupon2"></i> Dashboard</a></li>                
        <li class="li-menu"><a href="#"><i class="icon-mail"></i> Antispam</a></li>                
        <li class="li-menu"><a href="/usuarios"><i class="icon-users"></i> Usuarios</a></li>                
        <li class="li-menu"><a href="#"><i class="icon-exit"></i> Salir</a></li>                
    </ul>
</section>