<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <!-- CSS Files -->
    
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../static/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>DSI</title>
</head>
<body>
    <header>
        
        {% include 'includes/navbar.html' %}
        
    </header>
    <main>
        {% include 'includes/sidebar.html'%}
    
        <section class="main-content">
            <div>
                {%block body%} {%endblock%} 
                {% include 'includes/scripts.html' %}
                {% block javascripts %}{% endblock javascripts %}
            </div>            
        </section>     
    
        
    
    </main>
    
    <!-- JavaScript Bootstrap -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
</body>
</html>